<app-header/>
<div class="flex justify-center mt-8 page bg-yellow-lt flex-column align-items-center p-5 gap-5">
    <h1>Bem vindo a UVV-STACK</h1>
    <div class="w-50 flex flex-column">
      <div class="shadow-md d-flex justify-content-center border border-red w-100">
        <div class="input-icon w-full">
          <span class="input-icon-addon">
            
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
          </span>
          <input type="text" value="" class="form-control" placeholder="Search…" aria-label="Search in website">
        </div>
        <div class="overflow-auto">
          <!-- TODO: colocar objeto de lista aqui -->
        </div>
    </div>
      
    </div>
  </div>
  