<div class="modal modal-blur fade" id="new-post-modal" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">

    <form [formGroup]="newPostForm" (ngSubmit)="onSubmit()" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Novo Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Titulo</label>
          <input type="text" class="form-control" placeholder="Digite o titulo"
                 formControlName="title"
                 [ngClass]="{'is-invalid': newPostForm.get('title')?.errors?.['required'] && newPostForm.get('title')?.touched}">
          @if (newPostForm.get('title')?.errors?.['required'] && newPostForm.get('title')?.touched) {
            <div class="invalid-feedback"> Titulo é obrigatório</div>
          }
        </div>
        <div class="mb-3">
          <label class="form-label">Conteúdo</label>
          <textarea class="form-control" rows="6" spellcheck="false" data-ms-editor="true"
                    placeholder="Digite o conteúdo"
                    formControlName="content"
                    [ngClass]="{'is-invalid': newPostForm.get('content')?.errors?.['required'] && newPostForm.get('content')?.touched}"></textarea>
          @if (newPostForm.get('content')?.errors?.['required'] && newPostForm.get('content')?.touched) {
            <div class="invalid-feedback"> Conteúdo é obrigatório</div>
          }
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-link link-secondary" data-bs-dismiss="modal">
          Cancel
        </a>
        <button class="btn btn-primary ms-auto" [disabled]="!newPostForm.valid" data-bs-dismiss="modal"
                (click)="onSubmit()">
          <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
               stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 5l0 14"></path>
            <path d="M5 12l14 0"></path>
          </svg>
          Criar
        </button>
      </div>
    </form>
  </div>
</div>
